doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css")
  body
    block content
    script(stype='text/javascript', src="https://code.jquery.com/jquery-2.0.0.js")
    script(defer, src="https://code.getmdl.io/1.2.1/material.min.js")
    script(type='text/javascript', src='/javascripts/app.js')
