doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css")
  body
    block content
    script(stype='text/javascript', src="https://code.jquery.com/jquery-2.0.0.js")
    script(stype='text/javascript', src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js")
    script(type='text/javascript', src='/javascripts/app.js')
